@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";

body {
  background: image_url('exp.jpeg');
}

.login {
  width: 400px;
  background: white;
  padding: 50px;
  border-radius: 5px;
  margin-top: 90px;
  margin-bottom: 20px;
  h3 {
    margin: 0;
    margin-bottom: 15px;
  }
  .field {
    margin-top: 7px;
  }
}

.navbar-brand {
  font-family: 'Lily Script One', cursive;
  font-size: 26px;
  color: #fff;
}

.info-card {
  width:100%;
  height:100%;
  margin-top: 20px;
  background: white;
  padding: 40px;
  border-radius: 5px;
  display: inline-block;
  #right-button {
    float: right;
  }
  #header-txt {
    display: inline-block;
  }
}

.img-movie-cover {
  border: black solid 1px;
  width: 110px;
  height: 150px;
  margin-left: 30px;
}
.movie-info, .cover{
  display: inline-block;
}
.movie-info{
  ul {
    list-style-type: none;
  }
  li{
    padding: 10px;
  }
}
.review-subtitle{
  font-size: 1.2em;
  font-weight: 700;
}
.inline-obj{
  display: inline-block;
}