<%= render 'layouts/navbar' %>

<div class="container">
  <div class="row">
    <div class="info-card">
      <h4>Add Review:</h4>
    </div>

    <div class="info-card">
      <%= render 'reviews/form', review: @review, movie: @movie %>
    </div>
  </div>
</div>