<%= render 'layouts/navbar' %>

<div class="container">
  <div class="row">

    <%= render 'reviews/review', review: @data[:review], score: @data[:review_score].round(2)  %>

    <%= render 'comments/form', user: current_user, rev_id: @data[:review].id, comment: @data[:comment] %>

    <div id="comments">

      <div class="info-card">
        <h4 id="header-txt">Comments:</h4>
      </div>

      <% if @data[:comments].blank? %>
          <div class="info-card text-center">
            <h4> There is no comments yet...</h4>
          </div>
      <% end %>

      <% @data[:comments].each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
      <% end %>
    </div>

  </div>
</div>